hello icsd - app component welcomes <br>
<li><a  [routerLink]="'/doctor'" routerLinkActive="active">doctor</a></li>
<li><a  [routerLink]="'/staff'" routerLinkActive="active">staff</a></li>
<li><a  [routerLink]="'/medical'" routerLinkActive="active">medical</a></li>
<li><a  [routerLink]="'/patient'" routerLinkActive="active">patient</a></li>
<div class="container">
    <div class="row">
        <div class="col-md-4">app home col md 4</div>
        <div class="col-md-8">app home col md 8</div>
    </div>
    <div class="row">
        <div class="col-md-4">Side Navigation isndie appcomponent html</div>
        <div class="col-md-8"><router-outlet></router-outlet></div>
    </div>
</div>


